.alertClass {
    top: 100px;
    width: 40%;
    text-align: center;
    position: fixed;
    left: 20%;
}

body #login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;

}

.mySelectpicker {
    margin-top: 1%;
    width: 30% !important;
    height: 100% !important;
    font-size: 27px !important;
    padding: 6px 12px;
    position: relative;
    left: -31%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#maslulSelectpicker {

}

/*.navbar-inverse {*/
/*background-color: #428bca !important;*/
/*}*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: "Alef Hebrew" !important;

}

.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
/*.nav-sidebar {*/
/*margin-right: -21px; !* 20px padding + 1px border *!*/
/*margin-bottom: 20px;*/
/*margin-left: -20px;*/
/*}*/

/*.nav-sidebar > li > a {*/
/*padding-right: 20px;*/
/*padding-left: 20px;*/
/*}*/

/*.nav-sidebar > .active > a,*/
/*.nav-sidebar > .active > a:hover,*/
/*.nav-sidebar > .active > a:focus {*/
/*color: #fff;*/
/*background-color: #428bca;*/

/*}*/

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
    z-index: 1000;
}

.navbar {
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #ffffff;
}

#customer.form-inline .form-group {
    margin: 6px;
    margin-bottom: 15px;
}

.image-box p {
    display: none;
}

.image-box {
    background-size: contain;
    background: no-repeat center center;
    height: 180px;
    width: 100%;
    border: 1px solid #cccccc;
}

.image-box.no-image {
    display: table;
}

.image-box.no-image p {
    /*display: block;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #cccccc;
}

div.clear {
    clear: both;
}

div.product-chooser {

}

div.product-chooser.disabled div.product-chooser-item {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    cursor: default;
}

div.product-chooser div.product-chooser-item {
    padding: 11px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected {
    border: 4px solid #428bca;
    background: #efefef;
    padding: 8px;
    filter: alpha(opacity=100);
    opacity: 1;
}

div.product-chooser div.product-chooser-item img {
    padding: 0;
}

div.product-chooser div.product-chooser-item span.title {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description {
    font-size: 12px;
}

div.product-chooser div.product-chooser-item input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

/*****************To createAppPage*******************/

div.container.row.col-md-12 #inner_content {

}

#tadirutDiv {
    font-size: 30px;
    text-align: center;
}

#innerMenu {
    right: 0;
    position: relative;
    top: 0;
    /*margin-top: 10px;*/
    /*margin-left: 18%;*/
}

.modal-backdrop {
    opacity: 0.8 !important;
    background-color: #122b40 !important;
    z-index: 100;
}

.modal {

    z-index: 120;
}

.fa {
    font-size: 170%;
}

#nameField {
    position: absolute;
    z-index: 80;
    /* top: -7px; */
    right: 0;
    /* transform: translate(-50%, -50%); */
    /* color: white; */
    text-align: center;
    bottom: -17px;

}

.nameText {

    position: relative;
    z-index: 1000;
    left: -238px;
    transform: translate(-50%, -50%);
    /* color: white; */
    text-align: center;
    top: 453px;
    width: 50px;
    height: 10px;
    font-size: 70%;
    color: white;
    font-weight: bold;
}

#iphoneImg {

    /*filter: blur(2px);*/
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*margin: -5px -10px -10px -5px;*/
}

/*********uploadImageSection**********/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    /*background: white;*/
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 45px;
    position: relative;
    height: 45px;
    top: 381px;
    left: -240px;
    z-index: 100;
    border: 0;
    border-radius: 10px;
}

/***************/

.spacerow {
    height: 20px;

}

/*breadcrumb navbar for createApp page*/
/*
.breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.breadcrumb li.completed a {
    background: brown;
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a {
    background: #ffc107;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}




*/

/*#appContanier:hover { -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc; }*/
#appContanier:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.2s ease;
    z-index: 100;
    /*background-color: rgba(238, 200, 10, 0.15);*/
    border-radius: 10px;
    cursor: pointer

}

#goToSecStep {

}

#header {
    top: 0;
    position: fixed;
    z-index: 1000000;
}

#content {
    top: 105px;
    position: relative;
}

#innerMenu > .button {
    background-color: #122b40; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

#innerMenu > .button:hover {
    background-color: #c1e2b3;
}

/*for menu navbar trying*/

.menu {
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width: 100%;
    height: auto;
    padding: 0 10px;
    position: fixed;
    margin: 0px;
    z-index: 1;
    /*opacity: 0.9;*/
}

.menu .navbar-nav > .active > a {
    background-color: #00547E;
    color: white;
    font-weight: bold;
}

.menu .navbar-nav > li > a {
    font-size: 28px;
    color: white;
    padding: 10px 35px;

}

.menu .navbar-nav > li > a:hover {
    background-color: #04A3ED;
    color: #000000;
}

.menu .navbar-nav > li > a:active {
    background-color: #00547E;
    color: #000000;
}

.navbar-header > a {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}

.navbar-header > a:hover {
    text-decoration: none;
    color: #04A3ED;
}

#userDataBtn {
    position: fixed;
    left: 0;
}

/*************/

#maslulDescription {

    text-align: center;
    position: relative;
    margin-top: 5%;
    text-shadow: aqua;
    font-size: 32px;
    position: relative;
    left: 5%;
}

#typeDiv {
    font-size: 30px;
    text-align: center;
}

#saveFirstStepBtn {
    background-color: #122b40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

}

textarea#processTipSerial {
    width: auto;
    text-align: right;
    height: auto;
    resize: inherit;
    overflow: hidden;
}

input#processTipSerial {
    width: 37px;
    font-size: 18px;
    text-align: center;
}

label#processTipContainerTipLabel {
    font-size: 20px;
}

div#processTipContainer {
    position: relative;
    /*left: 25%;*/
    margin-top: 2%;
}

textarea#appContainerDescription {
    border: none;
    resize: none;
}

.firstStepAppTextLabel {
    background-color: yellow;
    /*opacity: 0.5;*/
    color: black;
    /*font-size: 100px;*/
}

div#blurDiv {
    position: relative;
    z-index: 2;
    width: 252px;
    height: 450px;
    top: -524px;
    left: -109px;
    filter: blur(1px);
    background-color: white;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

img#phoneTypesImg {
    width: 25%;
    left: -38%;
    position: relative;
}

select#titleFontSelect {
    width: 42%;
}

div.firstTitle {
    width: 100%;
    /* height: 20%; */
    background-color: #2b542c;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 6%; */
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    /* top: -32%; */
    top: 0;
    position: relative;
}

div.secTitle {
    width: 100%;
    /* height: 20%; */
    background-color: #2b542c;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 6%; */
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    /* top: -32%; */
    top: 0;
    position: relative;
}

div.thirdTitle {
    width: 100%;
    /* height: 20%; */
    background-color: #2b542c;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 6%; */
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    /* top: -32%; */
    top: 0;
    position: relative;
}

div .firstTip {
    /* background-color: #9d9d9d; */
    width: 77%;
    /* height: 456px; */
    position: relative;
    left: -10%;
    top: 22%;
    z-index: 1000;
    padding-top: 22%;
    padding-bottom: 26%;
    /* border-color: black; */
    /* border: 10px; */
    /* -webkit-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72); */
    -moz-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72);
    /* box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72); */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

div .secTip {
    /* background-color: #9d9d9d; */
    width: 59%;
    /* height: 456px; */
    position: relative;
    left: -10%;
    top: 22%;
    z-index: 1000;
    padding-top: 22%;
    padding-bottom: 26%;
    /* border-color: black; */
    /* border: 10px; */
    /* -webkit-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72); */
    -moz-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72);
    /* box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72); */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* border-radius: 10px; */
    font-size: 30px;
    text-align: center;
}

div .thirdTip {
    /* background-color: #9d9d9d; */
    width: 77%;
    /* height: 456px; */
    position: relative;
    left: -10%;
    top: 22%;
    z-index: 1000;
    padding-top: 22%;
    padding-bottom: 26%;
    border-color: black;
    /* border: 10px; */
    -webkit-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72);
    -moz-box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72);
    box-shadow: -7px -3px 77px 25px rgba(45, 64, 189, 0.72);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

div .firstAds {
    width: 100%;
    /* height: 20%; */
    /* top: 52%; */
    position: relative;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 23px;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 5%; */
    position:;
    bottom: -48%;
}

div .secAds {
    width: 27%;
    height: 91.5%;
    /* top: 52%; */
    position: relative;
    border-bottom-left-radius: 23px;
    /* border-bottom-right-radius: 23px; */
    background-color: blue;
    font-size: 19px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 5%; */
    position: relative;
    bottom: 43.5%;
    left: -73%;
}

div .thirdAds {
    width: 100%;
    /* height: 20%; */
    /* top: 52%; */
    position: relative;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 23px;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 10%; */
    /* padding-top: 5%; */
    position:;
    bottom: -48%;
}

}

div#header {
    z-index: 10000;
}

/*div#myModal {*/
/*position: relative;*/
/*top: -450px;*/

/*}*/

.modal {
    z-index: 70000;
}

select#tipFontSelect {
    width: 42%;
}

img#logo {
    width: 117px;
    border-radius: 5px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #00547E;
}

div#firstOptionStyleDiv {
    height: 480px;
    width: 259px;
    border: azure;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.modal .modal-body {
    max-height: 600px;
    max-weight: 600px;
    overflow-y: auto;
}

.modal-content {
    width: 112%;
    padding-right: 10%;
}

/*main page search boxes*/
/*.search-form .form-group {*/
/*float: right !important;*/
/*transition: all 0.35s, border-radius 0s;*/
/*width: 32px;*/
/*height: 32px;*/
/*background-color: #fff;*/
/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
/*border-radius: 25px;*/
/*border: 1px solid #ccc;*/
/*}*/

/*.search-form .form-group input.form-control {*/
/*padding-right: 20px;*/
/*border: 0 none;*/
/*background: transparent;*/
/*box-shadow: none;*/
/*display: block;*/
/*}*/

/*.search-form .form-group input.form-control::-webkit-input-placeholder {*/
/*display: none;*/
/*}*/

/*.search-form .form-group input.form-control:-moz-placeholder {*/
/*!* Firefox 18- *!*/
/*display: none;*/
/*}*/

/*.search-form .form-group input.form-control::-moz-placeholder {*/
/*!* Firefox 19+ *!*/
/*display: none;*/
/*}*/

/*.search-form .form-group input.form-control:-ms-input-placeholder {*/
/*display: none;*/
/*}*/

/*.search-form .form-group:hover,*/
/*.search-form .form-group.hover {*/
/*width: 100%;*/
/*border-radius: 4px 25px 25px 4px;*/
/*}*/

/*.search-form .form-group span.form-control-feedback {*/
/*position: absolute;*/
/*top: -1px;*/
/*right: -2px;*/
/*z-index: 2;*/
/*display: block;*/
/*width: 34px;*/
/*height: 34px;*/
/*line-height: 34px;*/
/*text-align: center;*/
/*color: #3596e0;*/
/*left: initial;*/
/*font-size: 14px;*/
/*}*/

#custom-search-input1 {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input1 input {
    border: 0;
    box-shadow: none;
}

#custom-search-input1 button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 5px -20px 0 -45px;
    border-left: solid 1px #ccc;
    position: relative;
    left: -9%;
}

#custom-search-input1 button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input1 .glyphicon-search {
    font-size: 23px;
}

#custom-search-input2 {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input2 input {
    border: 0;
    box-shadow: none;
}

#custom-search-input2 button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 5px -20px 0 -45px;
    border-left: solid 1px #ccc;
    position: relative;
    left: -9%;
}

#custom-search-input2 button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input2 .glyphicon-search {
    font-size: 23px;
}

/*appVIew*/

div#downSection {
    position: relative;
    padding-left: 6%;
}

img#logo {
    width: 117px;
    border-radius: 5px;
    position: relative;
    left: -42%;
    padding-top: 2%;
}

.modal-content {
    position: relative;
    margin-top: 30%;
}

span#counterName {
    position: relative;
    /* top: 34px; */
    right: 100%;
    bottom: -14px;
}

#innerMenu {
    right: 0;
    position: relative;
    top: 0;
    /* margin-top: 10px; */
    margin-left: 10%;
    right: -7%;
}

#prevBtn {
    background-color: antiquewhite;
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

img.opposite {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

img#nextBtn {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    position: relative;
    right: 100%;
    top: 73px;
}

img#prevBtn {
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    position: relative;
    right: 30%;
    top: -18px;
}

#prevBtn :hover {
    /*max-width: 210px;*/
    /*max-height: 75px;*/
    /*width: 210px;*/
    /*height: auto;*/
    /*position: relative;*/
    /*right: 30%;*/
    /*top: -18px;*/

    transform: scale(1.25);
}