body {
	font-family: 'Alef', sans-serif;
}

#items {
	height: calc(100% + 500px);
}

.alertClass {
	top: 60px;
	width: 80%;
	left: 10%;
	text-align: center;
	position: fixed;
}

.nav-style, .nav-style .navbar-toggle:hover {
	background-color: #DF134C;
	border-color: white;
}

.nav-style .navbar-toggle .icon-bar {
	background-color: #F1C232;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: #fff;
}

#page_title, #page_title h1 {
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #DF134C;
	color: #F1C232;

}

#sighin_form, #setting_form, #login_form {
	padding: 20px;
}

#login_form {
	padding-bottom: 0;
}

#ShufersalLogo {
	margin-top: 20px;
}

#login_form .btn-group {
	width: 85%;
	display: block;
	margin-bottom: 60px;
	font-size: 18px;
}

#forgetPasswordLink {
	position: relative;
	top: 7px;
}

#submitBtn {
	width: 80px;
	font-weight: 700;
	font-size: 20px;
	background-color: #F1C232;
	color: #DF134C;
}

#sendBtn {
	margin-bottom: 10px;
	font-weight: bold;
	background-color: #F1C232;
	color: #DF134C;
	height: 42px;
	font-size: 20px;
	padding-left: 6px;
	padding-right: 6px;

}

#sighin_form .control-label {
	padding: 0;
}

#sighin_form #submitBtn {
	width: 40%;
	margin-left: 15px;
}

.navbar-default .navbar-nav > .active > a:focus {
	color: #F1C232;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
	color: white;
	background-color: transparent;
}

#mainNav {
	background-color: #F1C232;
	height: 60px;
	line-height: 60px;
	position: fixed;
	bottom: 15px;
	width: 100%;
}

#mainNav ul {
	list-style-type: none;
}

#mainNav li.listStyle {
	width: 31%;
	font-size: 12px;
	font-weight: bold;
}

#mainNav li.listStyle a {
	color: black;
	text-decoration-line: none;
}

/*#mainNav li.listStyle span.glyphicon{
    font-size: 19px;
    line-height:inherit;
}*/

#mainNav li {
	margin-left: 3px;
	margin-right: 3px;
	font-size: 40px;
	float: right;
	width: 3%;
}

#mainNav img {
	width: 26px;
	margin-left: 7px;
	margin-top: -4px;
}

#homeList .list-group .list-group-item {
	width: 100%;
	font-size: 18px;
	text-align: right;
	padding-right: 20px;
}

/*order.html*/
/*#homeList .list-group span.glyphicon{
    margin-left: 10px;
}*/
#homeList .list-group img {
	margin-left: 10px;
}

.star {
	font-size: 25px;
	margin-top: 5px;
	color: #F1C232;
}

.star.glyphicon-star-empty {
	color: black;
}

.btn-plus, .btn-plus:hover {
	background-color: transparent;
	font-size: 25px;
	color: #F1C232;
	cursor: pointer;
}

.category-link {
	color: #DF134C;
	font-size: 15px;
}

.category-link:hover {
	background-color: transparent;
	font-weight: bold;
	border: none;
}

.table-header {
	color: #DF134C;
}

.amountBox .amount {
	font-size: 19px;
	width: 21px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.amountBox .glyphicon {
	top: 3px;
	font-weight: 400;
	font-size: 19px;
}

#basket_table th {
	/*text-align: center;*/
}

#basket_table {
	font-size: 20px;
}

.glyphicon.glyphicon-remove-circle {
	font-size: 28px;
	color: red;
}

.btn-plus select {
	display: none;
}

#orderTable select {
	border-radius: 23px;
	color: white;
	background-color: #387DEB;
}

.totalRow {
	border-top: 2px solid black;
}

#confirmModal .modal-dialog {
	margin-top: 120px;
	width: 66%;
	max-width: 400px;
	border-radius: 30px;
}

#confirmModal .modal-body {
	font-size: 30px;
	text-align: center;
	padding: 20px;
	border: 4px yellowgreen solid;
	border-radius: 30px;
}

#confirmModal .modal-content {
	border-radius: 30px;
}

#messages .messageArrow {
	height: 42px;
	background-color: #DF134C;

}

#messages .messageArrow .glyphicon {
	font-size: 20px;
	color: #F1C232;
	background-color: #DF134C;
}

#messages .popeMessage {
	cursor: pointer;
}

#totalPrice {
	font-size: 20px;
	margin-left: 5px;
	padding: 6px 9px;
	border: 1px solid #ddd;
}

.pointer {
	cursor: pointer;
}

#footer-nav {
	background-color: #DF134C;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
}

#footer-nav a {
	color: #F1C232;
	font-size: 13px;
}

#footer-nav > li > a:hover {
	background-color: transparent;
	border-color: transparent;
}

#footer-nav {
	padding-top: 5px;
	padding-bottom: 5px;
	float: none;
	display: block;
	text-align: center;
}

#footer-nav > a {
	padding: 10px 8px;
}

#all-rights a {
	padding: 2px 8px;
}

#itemImage {
	width: 30%;
	float: right;
}

#details {
	float: right;
	width: 70%;
	padding: 16px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: right;
}

#itemPop h4, h5 {
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	#footer-nav > li {
		display: inline-block;
		float: none;
	}
}