<!--<script id="entry-template" type="text/x-handlebars-template" src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.js">-->
<!--<div class="entry">-->


<!--<div class="col-md-4" v-for="AppModel in services.models">-->
<!--<div class="thumbnail">-->
<!--<img alt="Bootstrap Thumbnail First" src="img/item/application.png"/>-->
<!--<div class="caption">-->
<!--<p>{{ name }} - {{ status }}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</script>-->


<div class="col-md-4" id="appContanier">
    <div class="row" id="upSection">
        <div class="row">

            <img id="logo" alt="Bootstrap Thumbnail First" class="text-left" src="{{logo}}"/>

        </div>
        <div class="row">
            <h1 class="text-center">
                {{name}}
            </h1>
        </div>

        <div class="caption">
            <h4 class="text-center">
                מספר סידורי {{serial}}
            </h4>

        </div>
        <p class="text-center">

            {{status}}
        </p>

        <textarea class="form-control" id="appContainerDescription" rows="1" id=""> {{description}}</textarea>
    </div>
    <div class="row" id="downSection">

        <p class="text-left">
            <!--<button type="button" class="btn btn-danger" id="editAppButton">עריכה</button>-->
            <button class="btn btn-success" id="quickViewBtn">צפייה מהירה</button>
            <button class="btn btn-danger" id="deleteAppBtn">מחיקה</button>

            <!--&lt;!&ndash;<a class="btn btn-primary" href="#">סטטוס</a> <a class="btn" href="#">Action</a>&ndash;&gt;-->
        </p>
    </div>


</div>