<div class="container">


    <div class="row" id="innerMenu">
        <!--<button type="button" class="btn btn-primary" id="firstBtn">התחלה</button>-->
        <!--<button type="button" class="btn btn-secondary" id="secondBtn">בחירת מסלול</button>-->
        <!--<button type="button" class="btn btn-success" id="thirdBtn">בחירת עיצוב</button>-->
        <!--<button type="button" class="btn btn-primary" id="forthBtn">תדירות</button>-->
        <!--<button type="button" class="btn btn-danger" id="lastBtn">שמור וסיים</button>-->
        <!--<a href=""  class=" button" id="lastBtn">שמור וסיים</a>-->

        <a><img id="nextBtn" src="img/item/moveArrow.jpg"></a>
        <button type="button" class=" button" id="summaryBtn"> סיכום</button>
        <button type="button" class=" button" id="forthBtn">טיפים</button>
        <button type="button" class=" button" id="designBtn">עיצוב אפליקציה</button>
        <!--<button type="button" class=" button" id="thirdBtn">בחירת עיצוב</button>-->
        <button type="button" class=" button" id="secondBtn">בחירת מסלול</button>
        <button type="button" class="button " id="firstBtn">התחלה</button>
        <a><img id="prevBtn" src="img/item/moveArrow.jpg" class="opposite"></a>


    </div>
    <div class="row spacerow"></div>
    <div class="row">
        <div id="inner_content"></div>
    </div>
    <div class="row">
        <div id="inner2_content"></div>
    </div>
    <!--<div class="row">-->
    <!--<a href="" id="goToSecStep">מסך הבא</a>-->
    <!--</div>-->
</div>
