<!--<div class="row" id="dateTipContainer">-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<img alt="Bootstrap Thumbnail First" class="text-left" src="img/item/application.png"/>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;<h4 class="text-center">&ndash;&gt;-->
<!--&lt;!&ndash;{{name}}&ndash;&gt;-->
<!--&lt;!&ndash;</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="col-md-6">-->
<!--<label id="dateTipContainerTipLabel">תאריך טיפ</label>-->

<!--<input type="text" value= {{date}}    id="dateTipSerial">-->

<!--</input>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--{{date}}-->
<!--</div>-->
<!--</div>-->


<!--<textarea class="form-control" rows="1" maxlength="60" id="dateTipContent"> {{content}}</textarea>-->


<!--<p class="text-left">-->
<!--<button type="button" class="btn btn-danger" id="deleteDateTipContentButton">מחיקה</button>-->
<!--&lt;!&ndash;<a href="#" id="editAppLink">לעריכה</a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<a class="btn btn-primary" href="#">סטטוס</a> <a class="btn" href="#">Action</a>&ndash;&gt;&ndash;&gt;-->
<!--</p>-->


<!--</div>-->


<div class="row" id="processTipContainer">
    <!--<div class="row">-->
    <!--<img alt="Bootstrap Thumbnail First" class="text-left" src="img/item/application.png"/>-->
    <!--</div>-->
    <div class="row ">
        <!--<div class="col-md-6">-->
        <!--<h4 class="text-center">-->
        <!--{{name}}-->
        <!--</h4>-->
        <!--</div>-->
        <div class="col-md-4 text-left">
            <label id="processTipContainerTipLabel">תאריך טיפ</label>
            <input type="text" value={{date}} id="dateTipSerial">
            </input>
        </div>
        <div class="col-md-4">

            <textarea class="form-control" rows="1" maxlength="60" id="dateTipContent" placeholder="הכנס תוכן טיפ">{{text}}</textarea>
            <span id="tipCounter"></span>

        </div>
        <div class="col-md-4">

            <button type="button" class="btn btn-danger" id="deleteDateTipContentButton">מחיקה</button>

        </div>
        <div class="tile__title fa fa-bars  ">

        </div>
    </div>


    <p class="text-left">
        <!--<a href="#" id="editAppLink">לעריכה</a>-->
        <!--&lt;!&ndash;<a class="btn btn-primary" href="#">סטטוס</a> <a class="btn" href="#">Action</a>&ndash;&gt;-->
    </p>


</div>