<div class="row text-center">

    <div class="input-group text-center">
        <div id="radioBtn" class="btn-group">
            <a class="btn btn-primary btn-lg active" data-toggle="fun" data-title="Y" some="1">עיצוב ראשון</a>
            <a class="btn btn-primary btn-lg notActive" data-toggle="fun" data-title="X" some="2">עיצוב שני</a>
            <a class="btn btn-primary btn-lg notActive" data-toggle="fun" data-title="N" some="3">עיצוב שלישי</a>
        </div>
        <input type="hidden" name="fun" id="fun">
    </div>
</div>


<div class="row">
    <!--עמודה ימנית-->
    <div class="col-md-4">

        <div class="row">
            <h1>עיצוב כותרת</h1>
            <h3>
                שם כותרת
            </h3>
            <input id="titleField" maxlength="15"/>
            <span id="nameCounter"></span>
        </div>
        <div class="row">
            <h3>
                צבע טקסט כותרת
            </h3>
            <input type="text" id="titleColorField" maxlength="7"/>
            <!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
        </div>
        <div class="row">
            <h3>
                צבע רקע כותרת
            </h3>
            <input type="text" id="titleBackgroundColorField" maxlength="7"/>
        </div>

        <div class="row">
            <h3>
                גופן </h3>
            <select id="titleFontSelect" class="selectpicker form-control">
                <option class="david" value="david">david</option>
                <option class="arial" value="arial">arial</option>
                <!--<option class="Times-New-Roman" value="Times-New-Roman">Times New Roman</option>-->
                <!--<option class="Verdana" value="Verdana">Verdana</option>-->
                <!--<option value="Comic-Sans-MS">Comic Sans MS</option>-->
                <!--<option value="WildWest">WildWest</option>-->
                <!--<option value="Bedrock">Bedrock</option>-->
            </select>
        </div>
        <div class="row">
            <div class="checkbox">
                <label><input id="titleBoldCheckBox" type="checkbox" value="">
                    מודגש
                </label>
            </div>

        </div>
    </div>
    <!--סוף עמודה ימנית-->
    <!-- עמודה אמצעית-->
    <div class="col-md-4">
        <div class="row">
            <h1>עיצוב טיפ</h1>
            <h3>
                צבע רקע טיפ
            </h3>
            <input type="text" id="tipBackgroundColorField" maxlength="7"/>
        </div>
        <div class="row">
            <h3>
                צבע טקסט טיפ
            </h3>
            <input type="text" id="tipTextColorField" maxlength="7"/>
        </div>


        <div class="row">
            <h3>
                גופן </h3>
            <select id="tipFontSelect" class="selectpicker form-control">
                <option class="david" value="david">david</option>
                <option class="arial" value="arial">arial</option>
                <!--<option class="Times-New-Roman" value="Times-New-Roman">Times New Roman</option>-->
                <!--<option class="Verdana" value="Verdana">Verdana</option>-->
                <!--<option value="Comic-Sans-MS">Comic Sans MS</option>-->
                <!--<option value="WildWest">WildWest</option>-->
                <!--<option value="Bedrock">Bedrock</option>-->
            </select>
        </div>
        <div class="row">
            <div class="checkbox">
                <label><input id="tipBoldCheckBox" type="checkbox" value="">
                    מודגש
                </label>
            </div>

        </div>

        <div class="row">


            <div class="form-group">
                <h3>העלה תמונה</h3>
                <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" id="imgInp">
                </span>
            </span>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>


    </div>
    <!--סוף עמודה אמצעית-->


    <!--עמודה שמאלית-->
    <div class="col-md-4">
        <div class="row">
            <div id="firstOptionStyleDiv">

                <div id="firstOptionStyleTitleDiv" class="firstTitle">
                    תן כותרת
                    <!--<span id="firstOpTitleTextLabel">fafasfa</span>-->
                </div>
                <div id="firstOptionStyleTipDiv" class="firstTip">
                    <img id="img-upload" src="" alt=""/>
                    הטיפ יופיע כאן!
                </div>
                <div id="firstOptionStyleAdsDiv" class="firstAds">
                    מקום לפרסומת
                </div>

            </div>
            <!--<div id="secOptionStyleDiv">-->

            <!--<div id="secOptionStyleDiv">-->
            <!--תן כותרת-->
            <!--&lt;!&ndash;<span id="firstOpTitleTextLabel">fafasfa</span>&ndash;&gt;-->
            <!--</div>-->
            <!--<div id="firstOptionStyleTipDiv">-->
            <!--הטיפ יופיע כאן!-->
            <!--</div>-->
            <!--<div id="firstOptionStyleAdsDiv">-->
            <!--מקום לפרסומת-->
            <!--</div>-->

            <!--</div>-->
        </div>

    </div>

    <!--סוף עמודה שמאלית-->


    <div class="col-md-4"></div>
</div>



