<!--<div class="bbm-modal__topbar">-->
    <!--<h3 class="bbm-modal__title">Backbone.Modal</h3>-->
<!--</div>-->
<!--<div class="bbm-modal__section">-->
    <!--<p>With Backbone.Modal you can create a modal in a few lines of code.</p>-->
    <!--<p>Some features are:</p>-->
    <!--<ul>-->
        <!--<li>Really flexible and easy to set up.</li>-->
        <!--<li>Default behaviors like ESC or clicking outside a modal.</li>-->
        <!--<li>Some awesome animations that make them feel robust.</li>-->
        <!--<li>Responsive and usable on mobile devices.</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="bbm-modal__bottombar">-->
    <!--<a href="#" class="bbm-button">close</a>-->
<!--</div>-->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">עריכת פרטי משתמש</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <h1  class="text-center">עריכת פרטים   </h1>

                            <fieldset>
<div class="row">
                                <!-- Form Name -->


                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="nameTextinput"></label>
                                    <div class="col-md-4">
                                        <input id="nameTextinput" name="textinput" placeholder="שם פרטי" class="form-control input-md" required="" type="text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
</div>
                                <div class="row">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="familyTextinput"></label>
                                    <div class="col-md-4">
                                        <input id="familyTextinput" name="textinput" placeholder="שם משפחה" class="form-control input-md" required="" type="text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
</div>
                    <div class="row">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="mailTextinput"></label>
                                    <div class="col-md-4">
                                        <input id="mailTextinput" name="textinput" placeholder="כתובת אימייל" class="form-control input-md" required="" type="text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
</div>
                                <div class="row">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="passwordTextinput"></label>
                                    <div class="col-md-4">
                                        <input  type="password"id="passwordTextinput" name="textinput" placeholder="הזן סיסמא חדשה" class="form-control input-md" required="" type="text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>

</div>
                                <div class="row">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="againPasswordTextinput"></label>
                                    <div class="col-md-4">
                                        <input type="password"id="againPasswordTextinput" name="textinput" placeholder="חזור על הסיסמא" class="form-control input-md" required="" type="text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="savebutton"> </label>
                                    <div class="col-md-4">
                                        <button id="saveButton" name="savebutton" class="btn btn-primary">שמור</button>
                                    </div>
                                </div>
                                </div>
                            </fieldset>

                    </div>
                </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
            </div>
        </div>

    </div>
</div>