<div class="row">
    <!--עמודה ימנית-->
    <div class="col-md-4">

        <div class="row">

            <h3>
                שם אפליקציה:
            </h3>
            <div class="col-md-6" id="nameArea">
                <input id="nameField" maxlength="10" placeholder="הכנס שם בבקשה"/>
                <span id="counterName"></span>
            </div>


        </div>
        <div class="row">
            <h3>
                תיאור אפליקציה:
            </h3>


            <textarea class="form-control" rows="5" id="comment" placeholder="הכנס תיאור אפליקציה"></textarea>


        </div>
        <div class="row">


            <div class="form-group">
                <h3>העלה תמונה</h3>
                <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" id="imgInp">
                </span>
            </span>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<button id="saveFirstStepBtn">הוסף אפליקציה</button>-->

        <!--</div>-->
    </div>
    <!--סוף עמודה ימנית-->


    <!--עמודה שמאלית-->
    <div class="col-md-4">
        <div class="row">
            <p><span class="nameText" id="nameText"></span></p>
            <p><img id='img-upload' src="img/item/application.png"/></p>
            <img alt="logo" id="iphoneImg" src="img/item/iphone-6GREY.png">
            <div id="blurDiv"></div>
            <!--<img id="arrowRed" alt="Arrow" class="text-left" src="img/item/arrow-red-13.png"/>-->

        </div>
    </div>
    <!--סוף עמודה שמאלית-->


    <div class="col-md-4"></div>
</div>



