<div class="row" id="typeDiv">
    לא נבחר מסלול
</div>
<div class="row" id="tadirutDiv">
    תדירות שנבחרה
</div>

<div class="row" id="tipsContent">

</div>
<div class="row">

    <button type="button" class="btn btn-primary" id="addTipBtn">הוסף טיפ</button>
    <button type="button" class="btn btn-danger" id="deleteAllTipBtn">מחק הכל</button>

</div>
<!--<ul id="my-ui-list"><li>fwefwe</li><li>fsfs</li></li></ul>-->

<!--<div class="row">-->
<!--<select class="selectpicker form-control ">-->
<!--<option>יומי</option>-->
<!--<option>שבועי</option>-->
<!--<option>חודשי</option>-->
<!--</select>-->
<!--</div>-->