<!--<div class="row" >-->
    <!--&lt;!&ndash;<div col-md-4>&ndash;&gt;-->
        <!--<button class="btn btn-primary header " id="addAppButton">הוספת אפליקציה</button>-->
        <!--<button class="btn btn-primary header" id="mainPageBtn">צפייה באפליקציות</button>-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div col-md-4></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div col-md-4>&ndash;&gt;-->
        <!--<button class="btn btn-primary header " id="userDataBtn"><i class="fa fa-cog" aria-hidden="true"></i>הגדרות משתמש</button>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--</div>-->


<div class="menu">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
            <!--<a >מערכת אפליקציות</a>-->
        <!--</div>-->
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a  href="#mainPage" id="mainPageBtn"><span class="fa fa-home"></span>  צפייה באפליקציות</a></li>
                <li ><a href="#createApp" id="addAppButton"><span class="fa fa-pencil-square-o"></span>  הוספת אפליקציה</a></li>
                <li><a  id="userDataBtn"><span class="fa fa-user-circle-o"></span>  עריכת פרטי משתמש </a></li>
            </ul>
        </div>
    </div>
</div>
