

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">כניסה למערכת</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" method="get" action="#mainPage">
                    <input type="text" class="form-control" placeholder="מייל" required autofocus>
                    <input type="password" class="form-control" placeholder="סיסמא" required>
                    <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="submit"  >
                        כניסה</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                                                        זכור אותי
                    </label>
                    <a href="#forgotPass" class="pull-right need-help">שכחת סיסמא? </a><span class="clearfix"></span>

                </form>
            </div>
            <a href="#register" class="text-center new-account">צור משתמש חדש </a>
        </div>
    </div>
</div>