<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-4 col-md-offset-3">-->
<!--<form action="" class="search-form">-->
<!--<div class="form-group has-feedback">-->
<!--<label for="search" class="sr-only">Search</label>-->
<!--<input type="text" class="form-control" name="search" id="searchByName" placeholder="חפש">-->
<!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<div class="row">
    <div class="col-md-4">


        <div id="custom-search-input1">
            <div class="input-group col-md-12">
                <input type="text" id="searchByName" class="form-control input-lg"
                       placeholder="חפש לפי שם"/>
                <span class="input-group-btn">
                        <button id="nameSearchBtn" class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search fa-lg"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">


        <div id="custom-search-input2">
            <div class="input-group col-md-12">
                <select type="text" id="searchByStatus" class="form-control input-lg">

                    <option value="0">
                        הצג הכל
                    </option>
                    <option value="1">בעריכה</option>
                    <option value="2">בטיפול</option>

                    <option value="3">
                        תקלה
                    </option>
                    <option value="4">הועלה לחנות</option>


                </select>
                </span>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <div class="row" id="app-container">


            <!--<div class="col-md-4">-->
            <!--<div class="thumbnail">-->
            <!--<img alt="Bootstrap Thumbnail First" src="img/item/application.png"/>-->
            <!--<div class="caption">-->
            <!--<h3>-->
            <!--תווית אפליקציה-->
            <!--</h3>-->
            <!--<p>-->
            <!--סטטוס אפליקציה-->
            <!--</p>-->
            <!--<p >-->
            <!--</p>-->
            <!--<p>-->
            <!--&lt;!&ndash;<a class="btn btn-primary" href="#">סטטוס</a> <a class="btn" href="#">Action</a>&ndash;&gt;-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</div>