<div class="row" id="processTipContainer">
    <!--<div class="row">-->
    <!--<img alt="Bootstrap Thumbnail First" class="text-left" src="img/item/application.png"/>-->
    <!--</div>-->
    <!--<div class="row ">-->
    <!--<div class="col-md-6">-->
    <!--<h4 class="text-center">-->
    <!--{{name}}-->
    <!--</h4>-->
    <!--</div>-->

    <!--<div class="col-md-3">-->
    <!--&lt;!&ndash;<button class="btn primary" id="addTip">הוסף טיפ</button>&ndash;&gt;-->

    <!--</div>-->

    <div class="col-md-4 text-left">
        <label id="processTipContainerTipLabel">טיפ מספר</label>
        <input type="number" value={{serial}} id="processTipSerial">
        </input>
    </div>
    <div class="col-md-4">

        <textarea class="form-control" rows="1" maxlength="60" id="processTipContent"
                  placeholder="הכנס טיפ">{{text}}</textarea>
        <span id="tipCounter"></span>


    </div>
    <div class="col-md-2">

        <button type="button" class="btn btn-danger" id="deleteProcessTipContentButton">מחיקה</button>

    </div>
    <div class="tile__title fa fa-bars  ">

    </div>

    <!--</div>-->


    <!--<p class="text-left">-->
    <!--&lt;!&ndash;<a href="#" id="editAppLink">לעריכה</a>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<a class="btn btn-primary" href="#">סטטוס</a> <a class="btn" href="#">Action</a>&ndash;&gt;&ndash;&gt;-->
    <!--</p>-->


</div>