<div class="row">
    <select class="selectpicker form-control mySelectpicker" id="maslulSelectpicker">
        <option disabled selected>בחר אפשרות מסלול</option>
        <option value="1">תהליך אישי</option>
        <option value="2">ליווי אישי</option>
        <option value="3">תזכיר תלוי תאריך</option>
    </select>
</div>
<div class="row">
    <select class="selectpicker form-control mySelectpicker" id="tadirutSelectpicker">
        <option value="" disabled selected> בחר תדירות תזכיר</option>
        <option value="1">יומי</option>
        <option value="2">שבועי</option>
        <option value="3">חודשי</option>
    </select>
</div>
<div class="row" id="maslulDescription">


</div>