<div class="row">


    <button type="button" class=" button" id="saveBtn"> שמור וסיים</button>
    <button type="button" class=" button" id="saveUploadBtn"> שמור והעלה לחנות</button>


</div>


<div class="row">
    <div class="col-md-6">

        <div class="row">
            <h3>
                שם אפליקציה:
            </h3>
            <span id="appName">

                </span>
        </div>
        <div class="row">
            <h3>
                לוגו </h3>
            <span>
                            <img id="logo" alt="Bootstrap Thumbnail First" class="text-left" src=""/>

                </span>
        </div>
        <div class="row">
            <h3>
                תיאור אפליקציה:
            </h3>

            <span id="appDescription">
                </span>
        </div>


        <div class="row">
            <h3>
                מסלול
            </h3>

            <span id="maslul">
                </span>
        </div>

        <div class="row">
            <h3>
                תדירות
            </h3>

            <span id="frequency">
                </span>
        </div>


        <div class="row">
            <h3>
                תזכירים
            </h3>
            <table class="table  table-striped" id="tipsTable">
                <thead>
                <tr>
                    <th>
                        סידורי
                    </th>
                    <th>
                        תוכן
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


    <div class="col-md-6">


        <div id="firstOptionStyleDiv">

            <div id="firstOptionStyleTitleDiv" class="firstTitle">
                תן כותרת
                <!--<span id="firstOpTitleTextLabel">fafasfa</span>-->
            </div>
            <div id="firstOptionStyleTipDiv" class="firstTip">
                הטיפ יופיע כאן!
            </div>
            <div id="firstOptionStyleAdsDiv" class="firstAds">
                מקום לפרסומת
            </div>

        </div>
    </div>

</div>
</div>