<div class="container">
    <div class="row">
        <h1 class="text-center">בחר עיצוב</h1>
    </div>

    <div class="row">
        <img id="phoneTypesImg" src="img/item/phone_types.jpg" alt="תמונה">
    </div>

    <div class="row form-group product-chooser">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item selected" id="1">
                <img src="http://renswijnmalen.nl/bootstrap/desktop_mobile.png"
                     class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">Mobile and Desktop</span>
                    <span class="description">עיצוב ראשון</span>
                    <input type="radio" name="product" value="mobile_desktop" checked="checked">
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item" id="2">
                <img src="http://renswijnmalen.nl/bootstrap/desktop.png"
                     class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">Desktop</span>
                    <span class="description">עיצוב שני</span>
                    <input type="radio" name="product" value="desktop">
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item" id="3">
                <img src="http://renswijnmalen.nl/bootstrap/mobile.png"
                     class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <span class="title">Mobile</span>
                    <span class="description">עיצוב שלישי</span>
                    <input type="radio" name="product" value="mobile">
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>